.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background-color: #f0f4ff;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .zx-content-shift {
    margin-left: 0 !important;
  }
}